@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>  
 <script>  
     var myVar = setInterval(Ping, 1000);

     function Ping() {

        $(document).ready(function () {  
         $.ajax({  
             type: "GET",  
             url: "HomeController/CheckAll",  
             contentType: "application/json; charset=utf-8",  
             dataType: "json",  

             success: function (response) {  
                 var risultati = response.d.split(";");
                 risultati.forEach(elementi => 
                 
                 var contenuto = elementi.split(":");
                 var id = contenuto[0];
                 var valore = contenuto[1];
                 if(valore == 1)
                    document.getElementById(id).style.backgroundColor = "green";
                 else
                    document.getElementById(id).style.backgroundColor = "red";
                 
                 );
                 
             },  
             failure: function (response) {  
                 alert("Fanculo!");  
             }  
         });  
     });

    }
 </script>  

 <script>createtable();</script>
<table style="width:100%">
<tr>
    <th>Nome Servizio</th>
    <th>Status</th>
  </tr>
  <tr>
    <th>Alerting</th>
    <th id="Alerting">Offline</th>
  </tr>
  <tr>
    <td>Database</td>
    <td id="Database">Offline</td>
  </tr>
  <tr>
    <td>Hub</td>
    <td id="Hub">Offline</td>
  </tr>
  <tr>
    <th>Nodered</th>
    <th id="Nodered">Offline</th>
  </tr>
  <tr>
    <td>Grafana</td>
    <td id="Grafana">Offline</td>
  </tr>
  <tr>
    <td>RabbitMQ</td>
    <td id="RabbitMQ">Offline</td>
  </tr>
</table>
