@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<table style="width:100%">
<tr>
    <th>Nome Servizio</th>
    <th>Status</th>
  </tr>
  <tr>
    <th>Alerting</th>
    <th id="alerting">Offline</th>
  </tr>
  <tr>
    <td>Database</td>
    <td id="database">Offline</td>
  </tr>
  <tr>
    <td>Hub</td>
    <td id="hub">Offline</td>
  </tr>
  <tr>
    <th>Nodered</th>
    <th id="nodered">Offline</th>
  </tr>
  <tr>
    <td>Grafana</td>
    <td id="grafana">Offline</td>
  </tr>
  <tr>
    <td>RabbitMQ</td>
    <td id="rabbitMQ">Offline</td>
  </tr>
</table>
